USE [master]
GO
/****** Object:  Database [bd_data_driven_inventory_control]    Script Date: 11/08/2025 12:46:03 a. m. ******/
CREATE DATABASE [bd_data_driven_inventory_control]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bd_data_driven_inventory_control', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\bd_data_driven_inventory_control.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bd_data_driven_inventory_control_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\bd_data_driven_inventory_control_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bd_data_driven_inventory_control].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bd_data_driven_inventory_control]
GO
/****** Object:  Table [dbo].[CLASIFICACION_ABC]    Script Date: 11/08/2025 12:46:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASIFICACION_ABC](
	[id_producto] [int] NOT NULL,
	[consumo_anual] [decimal](12, 2) NOT NULL,
	[porcentaje_acumulado] [decimal](5, 2) NOT NULL,
	[categoria_abc] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 11/08/2025 12:46:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre_cliente] [varchar](255) NOT NULL,
	[correo] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_VENTA]    Script Date: 11/08/2025 12:46:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_VENTA](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
	[id_venta] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVENTARIO]    Script Date: 11/08/2025 12:46:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTARIO](
	[id_movimiento] [int] IDENTITY(1,1) NOT NULL,
	[tipo_movimiento] [varchar](20) NOT NULL,
	[cantidad] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[id_producto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 11/08/2025 12:46:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre_producto] [varchar](100) NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[stock] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTA]    Script Date: 11/08/2025 12:46:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTA](
	[id_venta] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
	[id_cliente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CLASIFICACION_ABC] ([id_producto], [consumo_anual], [porcentaje_acumulado], [categoria_abc]) VALUES (1, CAST(5000.00 AS Decimal(12, 2)), CAST(40.00 AS Decimal(5, 2)), N'A')
INSERT [dbo].[CLASIFICACION_ABC] ([id_producto], [consumo_anual], [porcentaje_acumulado], [categoria_abc]) VALUES (2, CAST(1500.00 AS Decimal(12, 2)), CAST(52.00 AS Decimal(5, 2)), N'A')
INSERT [dbo].[CLASIFICACION_ABC] ([id_producto], [consumo_anual], [porcentaje_acumulado], [categoria_abc]) VALUES (3, CAST(800.00 AS Decimal(12, 2)), CAST(58.00 AS Decimal(5, 2)), N'B')
GO
SET IDENTITY_INSERT [dbo].[CLIENTE] ON 

INSERT [dbo].[CLIENTE] ([id_cliente], [nombre_cliente], [correo]) VALUES (1, N'Ferretería Los Pinos', N'contacto@lospinos.com')
INSERT [dbo].[CLIENTE] ([id_cliente], [nombre_cliente], [correo]) VALUES (2, N'Construmax Perú', N'ventas@construmax.pe')
INSERT [dbo].[CLIENTE] ([id_cliente], [nombre_cliente], [correo]) VALUES (3, N'Hogar & Obra', N'info@hogaryobra.com')
SET IDENTITY_INSERT [dbo].[CLIENTE] OFF
GO
SET IDENTITY_INSERT [dbo].[DETALLE_VENTA] ON 

INSERT [dbo].[DETALLE_VENTA] ([id_detalle], [cantidad], [subtotal], [id_venta], [id_producto]) VALUES (1, 2, CAST(501.00 AS Decimal(10, 2)), 1, 1)
INSERT [dbo].[DETALLE_VENTA] ([id_detalle], [cantidad], [subtotal], [id_venta], [id_producto]) VALUES (2, 5, CAST(78.75 AS Decimal(10, 2)), 2, 2)
INSERT [dbo].[DETALLE_VENTA] ([id_detalle], [cantidad], [subtotal], [id_venta], [id_producto]) VALUES (3, 3, CAST(137.70 AS Decimal(10, 2)), 3, 3)
SET IDENTITY_INSERT [dbo].[DETALLE_VENTA] OFF
GO
SET IDENTITY_INSERT [dbo].[INVENTARIO] ON 

INSERT [dbo].[INVENTARIO] ([id_movimiento], [tipo_movimiento], [cantidad], [fecha], [id_producto]) VALUES (1, N'entrada', 10, CAST(N'2025-01-05' AS Date), 1)
INSERT [dbo].[INVENTARIO] ([id_movimiento], [tipo_movimiento], [cantidad], [fecha], [id_producto]) VALUES (2, N'entrada', 50, CAST(N'2025-01-06' AS Date), 2)
INSERT [dbo].[INVENTARIO] ([id_movimiento], [tipo_movimiento], [cantidad], [fecha], [id_producto]) VALUES (3, N'entrada', 20, CAST(N'2025-01-07' AS Date), 3)
SET IDENTITY_INSERT [dbo].[INVENTARIO] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTO] ON 

INSERT [dbo].[PRODUCTO] ([id_producto], [nombre_producto], [precio], [stock]) VALUES (1, N'Taladro Eléctrico 500W', CAST(250.50 AS Decimal(10, 2)), 15)
INSERT [dbo].[PRODUCTO] ([id_producto], [nombre_producto], [precio], [stock]) VALUES (2, N'Caja de Tornillos 100u', CAST(15.75 AS Decimal(10, 2)), 100)
INSERT [dbo].[PRODUCTO] ([id_producto], [nombre_producto], [precio], [stock]) VALUES (3, N'Pintura Blanca 1Gal', CAST(45.90 AS Decimal(10, 2)), 50)
SET IDENTITY_INSERT [dbo].[PRODUCTO] OFF
GO
SET IDENTITY_INSERT [dbo].[VENTA] ON 

INSERT [dbo].[VENTA] ([id_venta], [fecha], [total], [id_cliente]) VALUES (1, CAST(N'2025-01-10' AS Date), CAST(500.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[VENTA] ([id_venta], [fecha], [total], [id_cliente]) VALUES (2, CAST(N'2025-01-11' AS Date), CAST(78.75 AS Decimal(10, 2)), 2)
INSERT [dbo].[VENTA] ([id_venta], [fecha], [total], [id_cliente]) VALUES (3, CAST(N'2025-01-12' AS Date), CAST(137.70 AS Decimal(10, 2)), 3)
SET IDENTITY_INSERT [dbo].[VENTA] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CLIENTE__2A586E0BE12A5E9F]    Script Date: 11/08/2025 12:46:03 a. m. ******/
ALTER TABLE [dbo].[CLIENTE] ADD UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_INVENTARIO_id_producto]    Script Date: 11/08/2025 12:46:03 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_INVENTARIO_id_producto] ON [dbo].[INVENTARIO]
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLASIFICACION_ABC]  WITH CHECK ADD FOREIGN KEY([id_producto])
REFERENCES [dbo].[PRODUCTO] ([id_producto])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETALLE_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLEVENTA_PRODUCTO] FOREIGN KEY([id_producto])
REFERENCES [dbo].[PRODUCTO] ([id_producto])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DETALLE_VENTA] CHECK CONSTRAINT [FK_DETALLEVENTA_PRODUCTO]
GO
ALTER TABLE [dbo].[DETALLE_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLEVENTA_VENTA] FOREIGN KEY([id_venta])
REFERENCES [dbo].[VENTA] ([id_venta])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETALLE_VENTA] CHECK CONSTRAINT [FK_DETALLEVENTA_VENTA]
GO
ALTER TABLE [dbo].[INVENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_INVENTARIO_PRODUCTO] FOREIGN KEY([id_producto])
REFERENCES [dbo].[PRODUCTO] ([id_producto])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[INVENTARIO] CHECK CONSTRAINT [FK_INVENTARIO_PRODUCTO]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[CLIENTE] ([id_cliente])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETALLE_VENTA]  WITH CHECK ADD CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[DETALLE_VENTA]  WITH CHECK ADD CHECK  (([subtotal]>=(0)))
GO
ALTER TABLE [dbo].[INVENTARIO]  WITH CHECK ADD  CONSTRAINT [CK_INVENTARIO_cantidad] CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[INVENTARIO] CHECK CONSTRAINT [CK_INVENTARIO_cantidad]
GO
ALTER TABLE [dbo].[INVENTARIO]  WITH CHECK ADD  CONSTRAINT [CK_INVENTARIO_tipo] CHECK  (([tipo_movimiento]='salida' OR [tipo_movimiento]='entrada'))
GO
ALTER TABLE [dbo].[INVENTARIO] CHECK CONSTRAINT [CK_INVENTARIO_tipo]
GO
USE [master]
GO
